region = "us-ashburn-1"
tenancy_ocid = "ocid1.tenancy.oc1..aaaaaaaab..."
user_ocid = "ocid1.user.oc1..aaaaaaaab..."
fingerprint = "12:34:56:78:90:ab:cd:ef:12:34:56:78:90:ab:cd:ef"
compartment_id = "ocid1.compartment.oc1..aaaaaaaab..."
